*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Ubuntu', sans-serif;
}
:root{
   color: hsl(213, 96%, 18%);
   color: hsl(243, 100%, 62%);
    color: hsl(228, 100%, 84%);
    color: hsl(206, 94%, 87%);
   color:hsl(354, 84%, 57%);

   color: hsl(231, 11%, 63%);
  color: hsl(229, 24%, 87%);
  color : hsl(217, 100%, 97%);
   color : hsl(231, 100%, 99%);
   color : hsl(0, 0%, 100%);
}
body{
    background-color:hsl(217, 100%, 97%);
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.container{
    width:60%;
    height:90vh;
    background-color: #fff;
    border-radius:10px;
    display:flex;
    padding:1vw;
}
/* -----------------------------------LEFT SIDE------------------- */
.number-items{
    width:31%;
    background-image: url("/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding-top:1.2rem;
}
.number-cont{
    display:flex;
    align-items: center;
}
.num-btn{
    margin:10px;
}
.num-btn button{
    padding:.6rem .8rem;
    border:1px solid  hsl(229, 24%, 87%);
    border-radius:20px;
    margin-right:10px;
    margin-left:15px;
    background-color: transparent;
    color:hsl(0, 0%, 100%);
    font-weight:600;
    transition:all .5s ease-in-out;
}
.number-cont button.buttonFocus{
    color:hsl(213, 96%, 18%);;
    background-color: hsl(206, 94%, 87%);
}
.step-info p{
    color:hsl(231, 11%, 63%);
    font-size:.8rem;
}
.step-info h4{
    color:hsl(0, 0%, 100%);
    font-size:.9rem;
    font-weight:500;
}
/* ---------------------------------------------ACTION-PART-ONE---------------------------------------- */
.contents{
    display:flex;
    justify-content: space-between;
    flex-direction:column;
    height:100vh;
}
.actions{
    display:flex;
    justify-content: space-between;
    flex-direction:column;
    width:50%;
    height:90%;
    margin:auto;
}
form h2{
    color:hsl(213, 96%, 18%);
    font-size:1.8rem;
    font-weight:700;
}
form p{
    color: hsl(231, 11%, 63%);
    font-size:.9rem;
    margin-top:10px;
}
.input-lists{
    margin-top:40px;
}
.the-inputs{
    display:flex;
    flex-direction:column;
    margin:20px 0;
}
.the-inputs.error input{
    border:1px solid red;
}
.the-inputs.success input{
    border:1px solid green;
}
.the-inputs label{
    color:hsl(213, 96%, 18%);
    font-size:1rem;
    font-weight:600;
}
.labels{
    display:flex;
    justify-content: space-between;
}
.the-inputs input{
    padding:10px;
    font-size:1rem;
    border:1px solid hsl(231, 11%, 63%);
    color: hsl(213, 96%, 18%);
    border-radius:8px;
    margin-top:5px;
}
input:focus{
    outline:0;
    border:1px solid hsl(243, 100%, 62%);
}
::placeholder{
    color:hsl(231, 11%, 63%);
}
.the-inputs small{
    color:red;
    font-size:.8rem;
    font-weight:600;
}
/* ------------------------------------------ACTION-PART-TWO---------------------------------- */
.select-plan h2{
    color:hsl(213, 96%, 18%);
    font-size:1.8rem;
    font-weight:700;
}
.select-plan p{
    color: hsl(231, 11%, 63%);
    font-size:.9rem;
    margin-top:10px;
}
.name-amt{
    color:hsl(213, 96%, 18%);
    font-size:1rem;
    font-weight:700;
}
.the-plans{
    display:flex;
    justify-content: space-between;
    margin:2.5rem 0;
}
.the-plans p{
    margin-top:5px;
    font-weight:100;
}
.plan-box{
    border:1px solid hsl(229, 24%, 87%);
    width:31%; 
    border-radius:5px;
    display:flex;
    justify-content: space-between;
    flex-direction:column;
    height:23vh;
    padding:1.2vw 1vw;
    transition: all .5s ease-in-out;
}
.plan-box.showYear{
    height:28vh
}
.plan-box:hover{
    border:1px solid hsl(243, 100%, 62%);
}
.plan-box img{
    width:40%;
}
.year{
    display:none;
}
.year.showYear{
    display:block;
}
.month.showMonth{
    display:none;
}
.year h5{
    margin-top:5px;
    font-size:.8rem;
}
.plan-box:nth-child(1){
    background-color:hsl(217, 100%, 97%);
    border:1px solid hsl(243, 100%, 62%);
}
.month-year{
    background-color:hsl(217, 100%, 97%);
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:1vw 7vw;
    border-radius:5px;
}
.month-year p{
    margin-top:0;
    font-weight:600;
}
.month-year p:nth-child(1){
    color:hsl(213, 96%, 18%);
}
/* ----------------------------TOGGLE-BTN------------------------------- */
.month-year span{
    width:20%;
    height:3vh;
    background-color:hsl(213, 96%, 18%);
    border-radius:10px;
    position: relative;
    padding:2px;
}
.month-year small{
    position: absolute;
    width:35%;
    height:76%;
    left:5%;
    background-color: #fff;
    border-radius:20px;
    transition: all .5s ease-in-out;
}
.month-year small.switch{
    left:55%;
}
/* --------------------------------------------ACTION-PART-THREE---------------------------------------------------- */
.lists-of-add{
    margin-top:30px;
}
.pick-add-ons h2{
    color:hsl(213, 96%, 18%);
    font-size:1.8rem;
    font-weight:700;
}
.pick-add-ons p{
    color: hsl(231, 11%, 63%);
    font-size:.9rem;
    margin-top:10px;
}
.service-box{
    display:flex;
    justify-content: space-between;
    border:1px solid hsl(243, 100%, 62%);
    margin-top:15px;
    border-radius:5px;
    padding:1.5vw 1vw;
    background-color:hsl(217, 100%, 97%);
    transition: all .5s;
}
.service-box:nth-child(3){
    background-color: transparent;
    border:1px solid hsl(229, 24%, 87%);
}
.service-box:nth-child(3):hover{
    border:1px solid hsl(243, 100%, 62%);
}
.checkbox{
    display:flex;
    width:80%;
}
.checkbox input[type="checkbox"]{
    width:5%;
    margin-right:20px;
}
.amount p{
    color:hsl(243, 100%, 62%);
}
.pick-display{
    display:none;
}
.pick-on-year{
    display:none;
}
.service-text h4{
    color:hsl(213, 96%, 18%);
    font-size:1rem;
}
.service-text p{
    margin-top:3px;
}
/* ------------------------------------------------------------ACTION-PART-FOUR--------------------------------------------------------------- */
.finish-up h2{
    color:hsl(213, 96%, 18%);
    font-size:1.8rem;
    font-weight:700;
}
.finish-up p{
    color: hsl(231, 11%, 63%);
    font-size:.9rem;
    margin-top:10px;
}
.details-of-transaction{
    padding:1.5vw;
    background-color:hsl(231, 100%, 99%);
    border-radius:5px;
    margin-top:2rem;
}
hr{
    margin:1.3rem 0;
    border:1px solid hsl(217, 100%, 97%);
}
.sub-amount{
    display:flex;
    align-items: center;
    justify-content:space-between;
}
.type-of-sub a{
    font-size:.9rem;
    color:hsl(231, 11%, 63%);
}
.type-of-sub a:hover{
    color:hsl(243, 100%, 62%);
}
.sub-amount h3{
    color:hsl(213, 96%, 18%);
    font-size:.9rem;
    font-weight:600;
    margin-bottom:5px;
}
.items{
    display:flex;
    justify-content: space-between;
    margin-top:1.5rem;
}
.items p{
    margin-top:0;
}
.items p:nth-child(2){
    color:hsl(213, 96%, 18%);
}
.final-display{
    display:none;
}
.final{
    display:none;
}
.total{
    display:flex;
    justify-content:space-between;
    padding:1.5vw;
}
.total p:nth-child(2){
    font-size:1.1rem;
    font-weight:600;
    color:hsl(243, 100%, 62%);
}
/* ---------------------------------------------------THANK YOU---------------------------------------------------- */
.thank-you{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:100vh;
    text-align: center;
}
.thank-you img{
    width:20%;
}
.thank-you h1{
    color:hsl(213, 96%, 18%);
    font-size:2.5rem;
    margin:1.4rem 0;
}
.thank-you p{
    font-size:.9rem;
    color:hsl(231, 11%, 63%);
    line-height:1.5rem;
}
/* ------------------------------------------ACTION-BUTTON------------------------------------ */
.button-section{
    display:flex;
    justify-content: space-between;
}
.button-section a{
    text-decoration: none;
    color: hsl(229, 24%, 87%);
    padding:10px 20px;
    background-color:  hsl(213, 96%, 18%);
    border-radius:5px;
    transition: all .5s;
}
.button-section a:hover{
    opacity:.8;
}
/* -----------------------First-content------------------- */
.first-content-btn a:nth-child(1) {
   visibility:hidden;
}
/* ----------------------Next-Prev-------------------- */
.next-prev{
    display:flex;
    justify-content: space-between;
}
.next-prev a:nth-child(1){
    background-color: transparent;
    color:  hsl(231, 11%, 63%);
}
.next-prev a:nth-child(1):hover{
    color:hsl(213, 96%, 18%);
}
#confirm{
    background-color: hsl(243, 100%, 62%);
}
/* =========================================450PX================= */
@media screen and (max-width:450px){
    :root{
        font-size:14px;
    }
    body{
        background-image: url("/images/bg-sidebar-mobile.svg");
        background-repeat: no-repeat;
        background-size:contain;
    }
    .container{
        flex-direction:column;
        width:100%;
        background-color: transparent;
        padding:0;
    }
    .step-info{
        display:none;
    }
    .number-items{
        background-image:none;
        display:flex;
        margin-bottom:2rem;
        align-items: center;
        justify-content: center;
        width:100%;
        padding-top:0;
    }
    .num-btn button{
        margin-left:0;
        padding:.6rem .9rem;
    }
    .actions{
        width:100%;
        height:115%;
    }
    form,.second-content,.third-content,.fourth-content,.thank-you{
        background-color: #fff;
        padding:1vw 6vw;
        border-radius: 5px;
        margin:5vw;
    }
    form h2{
        margin-top:2rem;
    }
    form p{
        margin-top:8px;
        font-size:1.2rem;
    }
    .input-lists{
        margin-top:20px;
    }
    .button-section{
        padding:5vw 10vw;
        background-color: #fff;
    }
    /* ----------------------------------Select plan----------------------------------- */
    .select-plan h2{
        font-size:1.6rem;
        margin-top:2rem;
    }
    .select-plan p,.pick-add-ons p,.fourth-content{
        font-size:1rem;
        
    }
    .name-amt{
        margin-left:15px;
    }
    .name-amt p{
        font-size:1rem;
    }
    .the-plans{
        flex-direction:column ;
        margin:2rem 0;
        margin-bottom:.9rem;
    }
    .plan-box{
        flex-direction: row;
        width:100%;
        justify-content:left;
        height:15vh;
        align-items: center;
        margin-bottom:10px;
        padding:2vw;
    }
    .plan-box img{
        width:12%;
    }
    .month-year{
         margin-bottom:.9rem;
         padding:3vw 7vw;
    }
    .month-year span{
        width:15%;
    }
    .plan-box.showYear{
    height:16vh
    }
    /* ----------------------------------------PickOns-------------------------- */
    .third-content{
        height:70%;
    }
    .pick-add-ons h2, .fourth-content h2{
        font-size:1.6rem;
        margin-top:2rem;
    }
    .service-box{
        height:12vh;
        align-items: center;
        padding:3vw;
    }
    .checkbox{
        width:100%;
    }
    /* -------------------------------------------Finish---------------------------- */
    .fourth-content{
        height:60%;
    }
    .details-of-transaction, .total{
        padding:5vw;
    }
    .thank-you{
        height:80%;
    }
    .thank-you h1{
        font-size:1.8rem;
    }
    .thank-you p{
        font-size:1rem;
    }
}
/* ===================================================600PX-1200PX============================================ */
@media screen and (min-width:600px) and (max-width:1200px){
    :root{
        font-size:15px;
    }
    .container{
        width:90%;
    }
}
